main {
    min-height: calc(100vh - 6vh - 3rem); 
}

/*Classes for blogs*/

#hyperlinks #blog_link {
    background: rgba(22, 255, 240, 0.6);
}

#blog_post.h-entry {
    margin: 50px 300px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
    border-radius: 5px;
    padding: 20px 5px;
}

#blog_post .e-content{
    font-size: 150%;
    margin: 20px 100px; 
    line-height: em;
}

#blog_post .p-name{
    text-align: center;
    font-size: 320%;
}

#blog_post .paragraph_headers{
    text-align: left;
    font-size: 140%;
    margin-left: 100px;
    margin-top: 20px;
    text-decoration: underline;
}

#blog_post .paragraph_subheaders {
    text-align: left;
    font-size: 120%;
    margin-left: 100px;
    margin-top: 20px;
    text-decoration: underline;
}

#blog_post_citations.h-entry{
    margin: 50px 300px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
    border-radius: 5px;
    padding: 20px 5px;
}

#blog_post_citations .e-content{
    font-size: 140%;
}

.about-blog {
    margin-top: 50px;
}

.about-blog .e-content{
    color: rgb(255, 255, 255);
    font-size: 200%;
    height: 100%px;
    margin: 10px 200px 60px 200px;
    background: rgba(0, 238, 255, 0.4);
    padding: 20px 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.about-blog .h-card .p-name.u-url{
    font-size: 200%;
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.about-blog .e-content .p-name.u-url {
    font-size: 70%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.about-blog .e-content .p-name.u-url:hover {
    background: rgba(223, 45, 134, 0.8);
    padding: 4px 4px;
    border-radius: 10px;
    text-decoration: underline;
}



@media screen and (max-width: 1400px) {
    .about-blog .e-content{
        margin: 20px 30px;
    }

    #blog_post.h-entry {
        margin: 10px;
    }

    #blog_post_citations.h-entry{
        margin: 50px 10px;
    }
}

@media screen and (max-width: 850px) {

    .about-blog .headers {
        font-size: 100%;
    }

    .about-blog .e-content{
        font-size: 100%;
        height: 100%;
        margin: 10px 40px 10px 40px;
        padding: 20px 20px; 
    }

    #blog_post.h-entry {
        margin: 10px;
    }

    #blog_post .headers {
        font-size: small;
    }
    
    #blog_post .e-content{
        font-size: 120%;
        margin: 10px 20px; 
        line-height: 1em;
    }

    #blog_post .paragraph_headers{
        text-align: left;
        margin-left: 20px;
        margin-top: 20px;
        text-decoration: underline;
    }

    #blog_post_citations.h-entry{
        margin: 2%;
        padding: 20px 5px;
    }

    #blog_post_citations .e-content{
        font-size: 80%;
    }
}
