main {
  min-height: calc(100vh - 6vh - 3rem);
}

/*Classes for the Contact page*/

#contact {
  display: block;
  margin: 0 auto;
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

#contact .e-content {
  color: white;
  font-size: 150%;
  text-align: center;
}
